/*----------basic----------------*/
.rmp{margin: 0;padding: 0;}
.white{color: #fff;}
.red{color: #f00}
.txt-ac{text-align: center;}
.fs-12{font-size: 12px}
.fw-bold{font-weight: bold}
.upcase{text-transform: uppercase;}